* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #B0C4DE;
}
.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;/* linha */
    align-items: center;/* coluna */
    
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    /* background-color: salmon; */
}

.slogan { 

    position: absolute;
    top: 55px;
    left: 140px;

    color: #fff;
    font-family: 'Open Sans',
    sans-serif;
    font-weight: 100;
} 
nav {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid white; */
}
nav a {
    padding: 30px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
    
    transition: background-color 0.4s;
}

nav a:hover {
    background-color: blue;
}

h1 {
    /* align-self: center; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    color: white;
}

h1 span {
    font-weight: 300;
    font-family: cursive;
    font-style: italic;

    position: absolute;
    top: 10px;
}

fieldset{
    background-color: #B0C4DE;

    max-width: 500px;
    text-align: center;

    border-radius: 20px;
    
}

#conteudo{
    max-width: 500px;
    
    position: absolute;
    top: 250px;
    left: 570px;

    padding-bottom: 10px;
}

.campo{
    padding: 5px 5px 5px 5px;
    border-radius: 10%;
}